rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /settings/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /visitors/{document} {
      allow read: if true;
      allow write: if true;
    }
    match /banners/{document} {
      allow read: if true;
      allow write: if true;
    }
  }
}
